@media screen and (min-width: 1440px) {
    body{
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho{
        background-color: #1d232a;
        column-gap: 32px;
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;

    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__logo{
        display: none;
    }

    .cabecalho__perfil{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999c;
        padding: 8px 32px;
        border-right: 1px solid #95999c;

    }

    .cabecalho__perfil::before{
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image:url(../img/profile_1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after{
        content: "\e90d";
        color: #ffffff;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .menu-lateral{
        position: static;
        width: 200px;
        grid-column: 1 ;
        grid-row: 1 / span 2;
    } 
}

@media screen and (min-width: 1440px){
    .principal{
        display: grid;
        grid-template-columns: auto  1fr auto;
        grid-template-areas: 
        "titulo-pagina titulo-pagina titulo-pagina"
        "destaque-video destaque-video videos-recentes"
        "secao-videos secao-videos secao-videos"
        "produtos-recentes destaque-produtos destaque-produtos"
        "secao-produtos secao-produtos secao-produtos"
        
        
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .titulo-secao{
        grid-column: span 4;
    }

}

@media screen and (min-width: 1440px){
    .cartao--recentes{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .cartao--destaque{
        margin-bottom: 0;
    }

    .cartao__imagem--mobile{
        display: none;
    }

    .cartao__imagem--desktop{
        display: block;
    }

    .cartao__botao--destaque{
        grid-column: auto;
        width: 250px;
        justify-self: flex-start;
    }

    .cartao--recentes .cartao__titulo{
        grid-column: auto;

    }

    .cartao__link{
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480dc;
        justify-self: flex-end;
    }

    .cartao__lista{
        display: grid;
        row-gap: 16px;
        grid-column: span 2;

    }

    .cartao__item{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumb{
        width: 32px;
        grid-row: span 2;

    }

    .cartao__item-titulo{
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil{
        font-size: 0.8rem;
        color: #95999c;
    }
}

@media screen and (min-width: 1440px){
    .secao{
        grid-template-columns: repeat(4, 1fr);
    }
    .destaque-video{
        grid-area: destaque-video;
    }
    
    .videos-recentes{
        grid-area: videos-recentes;
    }
    
    .secao-videos{
        grid-area: secao-videos;
    }
    
    .destaque-produtos{
        grid-area: destaque-produtos;
    }
    
    .produtos-recentes{
        grid-area: produtos-recentes;

    }
    
    .secao-produtos{
        grid-area: secao-produtos;
    }

}


